<ion-view title="Cart" id="page2">
    <ion-content padding="true" class="has-header">
        <button id="post-button2" class="button button-positive  button-block" ng-click="postRequest()">POST</button>
        <button id="get-button2" class="button button-positive  button-block" ng-click="getRequest()">GET</button>
        <button id="postResource-button2" class="button button-positive  button-block" ng-click="postRequestResource()">POST Resource</button>
        <button id="getResource-button2" class="button button-positive  button-block" ng-click="getRequestResource()">GET Resource</button>
        <div>
            <ion-list ng-repeat="calciatore in calciatori">
                <ion-item id="{{calciatore.id}}" ng-click="loadCalciatore(calciatore.id)">{{calciatore.id}}</ion-item>
        </ion-list>
           {{currentCalciatore.nome}}  {{currentCalciatore.cognome}}
    </div>
</ion-content>
</ion-view>