<ion-view title="Cloud" id="page3">
    <ion-content padding="true" class="has-header">
        Username: {{usernameTest}}
        <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="username">
                <br>
                
            </label>
            {{username}}
        <button id="save-button2" ng-click="save(username)">SaveUsername</button>
        
        <label class="item item-input" ng-show="insert==='true'">
                <span class="input-label">Username inserito</span>
                <input type="text" readonly placeholder="{{username}}">

            </label>
    </ion-content>
</ion-view>