<ion-view title="Example" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="example-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="example-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="example-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="example-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="example-form1" class="list">
      <ion-radio id="example-radio1">Example 1</ion-radio>
      <ion-radio id="example-radio2">Example 2</ion-radio>
    </form>
    <button id="example-button2" class="button button-positive  button-block" ng-click="goBack()">Back</button>
    <button id="index-button2" class="button button-positive  button-block" ng-click="goIndex()">Index</button>
  </ion-content>
</ion-view>