<ion-view title="Map" id="page5">
    <ion-content padding="true" class="has-header">
         <div id="map" class="scroll" data-tap-disabled="true" ></div>
    </ion-content>
</ion-view>
<!--style="width: 100%; height:100%;"-->