<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button><!--<br>
                 <button class="button button-icon button-clear" md-arrow-back-toggle="left"  ng-click="goBack()" nav-direction="back"></button>-->
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="menu-list1">
                <ion-item id="menu-list-item1" ui-sref="menu.home" menu-close="">Home</ion-item>
                <ion-item id="menu-list-item2" ui-sref="menu.cart" menu-toggle="left">Cart</ion-item>
                <ion-item id="menu-list-item3" ui-sref="menu.cloud" menu-toggle="left">Cloud</ion-item>
                <ion-item id="menu-list-item3" ui-sref="menu.map" menu-toggle="">Map</ion-item>
                <ion-item id="menu-list-item3" ui-sref="menu.exampleNewPage" menu-toggle="">ExampleNewPage</ion-item>
                <ion-item class="item-icon-right" id="menu-list-item4" ui-sref="menu.example" menu-toggle="">Example
                    <i class="icon ion-alert"></i>
                </ion-item>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="username">
            </label>
            Username che stai inserendo: {{username}}
            <button id="save-button2" ng-click="save(username)">SaveUsername</button>

            <label class="item item-input" ng-show="insert==='true'">
                <span class="input-label">Username inserito</span>
                <input type="text" readonly placeholder="{{username}}">

            </label>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>